<nav class="navbar-wagon">
  <div class="container navbar-wagon-container">

    <a href="/">
      <img src="logo.png" class="navbar-wagon-logo">
    </a>

    <div class="navbar-wagon-pusher"></div>

    <form action="" class="navbar-wagon-search hidden-xs hidden-sm">
      <input type="text" class="navbar-wagon-search-input" placeholder="Search something">
      <button type="submit" class="navbar-wagon-search-btn">
        <i class="fa fa-search"></i>
      </button>
    </form>
    <hr class="hidden-xs hidden-sm">
    <a href="" class="navbar-wagon-item navbar-wagon-link">Contact</a>
    <hr>
    <a href="" class="navbar-wagon-item navbar-wagon-link">
      <div class="icon-badge-container">
        <i class="fa fa-envelope-o"></i>
        <div class="icon-badge icon-badge-blue">3</div>
      </div>
    </a>
    <hr>
    <div class="navbar-wagon-item">
      <div class="dropdown">
        <img src="http://placehold.it/50x50" class="avatar dropdown-toggle" id="navbar-wagon-menu" data-toggle="dropdown">
        <ul class="dropdown-menu dropdown-menu-right navbar-wagon-dropdown-menu">
          <li><a href="#">Profile</a></li>
          <li><a href="#">Dashboard</a></li>
          <li><a href="#">Log Out</a></li>
        </ul>
      </div>
    </div>
    <hr>
    <a href="" class="navbar-wagon-item navbar-wagon-button btn">Post stuff</a>
  </div>
</nav>
